.u-flex {
    display: flex;
}

.u-jc-between {
    justify-content: space-between;
}

.u-jc-center {
    justify-content: center;
}

.u-al-center {
    align-items: center;
}

.u-flex-column {
    display: flex;
    flex-direction: column;
}

.u-flex-center {
    display: flex;
    align-items: center;
}
