@import 'flex';
@import 'spacing';

.u-vertical-scroll {
    overflow-y: scroll;
}

.u-pointer {
    cursor: pointer;
}

.u-fade {
    opacity: .5;
}

.u-b-disabled {
    background-color: gray;
}

.u-b-success {
    background-color: lightgreen;
}

.u-b-error {
    background-color: red;
}

.u-d-block {
    display: block;
}

.u-fs-default {
    font-size: 16px;
}